.cont-itens2 {
    position: relative;
    display: flex;
    margin-left: 0%;
    flex-direction: column;
    margin-left: 5px;
    width: 29%;   
}

.info-sec {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(250,185,0,255);
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
}

.imgItensifood {
    position: relative;
    display: flex;
    width: 10rem;
    margin: 1rem;
}

.imgItensze {
    position: relative;
    display: flex;
    width: 10rem;
    margin: 1rem;
    aspect-ratio: 4 / 3;
}

.imgItensmoto{
    position: relative;
    display: flex;
    width: 10rem;
    margin: 1rem;
    aspect-ratio: 4 / 3;
}

.descItensinfo {
    position: relative;
    display: flex;
    justify-content:left;
    font-size: 1.5rem;
}

.imgItens1 {
    position: relative;
    display: flex;
    margin: 1rem;
}

.formas-pagamento {
    display: none;
}

@media (max-width: 1024px) {
    .imgItens1 {
        display: none;
    }

    .formas-pagamento {
        display: flex;
        gap: 3rem;
        font-size: 2rem;

    }

}